# Telegram
TG_BOT_TOKEN=string
TG_RUN=true # запуск tg-бота если true. false - отмена запуска (необходимо перезапустить приложение)

# VK
VK_API_TOKEN=string
VK_GROUP_ID=123456 # число из адреса vk.com/club123456
VK_RUN=true # запуск vk-бота если true. false - отмена запуска (необходимо перезапустить приложение)

# Database
DATABASE_URL=postgresql+asyncpg://user:password@localhost/database
DATABASE_URL_SYNC=postgresql://user:password@localhost/database

TIMEZONE=Europe/Moscow
